<!DOCTYPE html>
<html dir="ltr" lang="en">

<%- include('../layouts/head'); -%>

<body>
<%- include('../layouts/header'); -%>
<%- include('../layouts/leftSide'); -%>

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Row -->
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
            <h2 class="mb-0">Edit Post</h2>
        </div>
        <div class="card shadow mb-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="form-add-room" method="post" enctype="multipart/form-data" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="idPost" name="idPost" value="<%=post._id%>" class="form-control" type="hidden">
                                        <div class="form-group">
                                            <label>Image</label>
                                            <div class="mt-3">
                                                <img height="150px" id="img_pview"
                                                     src="/uploads/images/posts/<%=post.image%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input id="title" name="title" value="<%=post.title%>" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select id=categoryId" name="categoryId" class="form-control">
                                            <% categories.forEach(category => { %>
                                                    <option value="<%=category._id%>"><%=category.name%></option>
                                            <% }) %>       
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Tags</label>
                                            <input id="tags" name="tags" value="<%=post.tags%>" type="text" class="form-control">
                                        </div>
                                        <div class="mt-5">
                                            <button id="btn-edit-post" name="btn-edit-post" type="submit" class="btn btn-success">
                                                Edit Post
                                            </button>
                                            <button type="reset" class="btn btn-default">Refresh</button>
                                        </div>
                                    </div>

                                    <div class="col-md-6 pt-3">
                                        <div class="form-group">
                                            <label>Content</label>
                                            <textarea name="content" id="content" class="summernote" style="display: none;">
                                               <%=post.content%>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>
        </div>
    </div>
    <%- include('../layouts/footer'); -%>
    <script>
        $(document).ready(function() {
            $('.summernote').summernote({
                height: 500,
                onImageUpload: function (files, editor, welEditable) {
                    sendFile(files, editor, welEditable);
                }
            });
        });
    </script>
</div>
</body>

</html>
